table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 1px solid #ddd;
    width: 90%;
    margin: 15px auto;
}

th,
td {
    text-align: left;
    padding: 16px;
}


tr:nth-child(even) {
    background-color: #dcdcdc;
}


.container-2 {

    display: flex;
    width: 85%;
    margin: 15px auto;
    justify-content: space-between;
}

.container-2 > input{
    width: 35%;
}

#reload{
    width: 10px;
    padding: 2px;
}